<div class="beauty">
  <span><a class="sp" routerLink="/home">Home</a></span> &nbsp;&nbsp;&nbsp;&nbsp; 
  <span><a class="sp" routerLink="/picturepost">Add New Historic Site</a></span>
 &nbsp;&nbsp;&nbsp;&nbsp; <span><a class="sp" routerLink="/show">View All Ancient Places Emporiam</a></span>
 &nbsp;&nbsp;&nbsp;&nbsp; <label class="sp">Contact Us :9087896548</label>
</div>
 <!-- <h1 style="align-items: center;" class="head">Welcome to the Archaeological site </h1> -->

<router-outlet></router-outlet> 