.beauty{
    background-color: rgb(116, 1, 1);
    padding: 10px;
    width: 100%;
}
.sp{
    font-size: 21px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    ;
    color: rgb(236, 231, 222);
    letter-spacing: 1px;

}